
$button-toolbar-inner-border-color: none;
$button-toolbar-inner-border-color-focus: none;
$button-toolbar-inner-border-color-focus-over: none;
$button-toolbar-inner-border-color-focus-pressed: none;

// $button-toolbar-background-color: #F0F7FD;
