
.sel-main-title {
    // font-size: 38pt;
    font-weight: 400;
}

.sel-sub-title { 
    color: #BABABA;
    font-weight: 400;
}

.main-panel .x-panel-header {
    font-size: 24pt !important;
}

.main-panel .x-form-text-default {
    padding: 10px;
    font-size: 12pt;
}

.main-panel .x-form-trigger-wrap {
    border-color: #E1E7EC;
    border-width: 1px;
    padding: 0 6px 1px 1px;
}